.container {
  max-width: 700px;
  margin: auto;
}

table {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

th {
  background-color: #f8f9fa;
  color: #495057;
  vertical-align: middle;
}
