body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: none;
  border-radius: 1rem;
}

form .form-control {
  border-radius: 0.5rem;
}

.btn {
  border-radius: 0.5rem;
}

.qlearn-brand {
  font-size: 1.5rem; /* Increase font size */
  font-weight: 500; /* Medium bold */
  letter-spacing: 1px; /* Optional: slight spacing for emphasis */
}